<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186017442025-t9g491ackjn3g5hggtdocvj8ct28s0ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186017442025-t9g491ackjn3g5hggtdocvj8ct28s0ed</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186017442025-5c08eo09bvv4fvt3tj2kvkime14lbhb7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJKiSaMaYV0F6QJ9pK0JRmTuW28Na1FP4</string>
	<key>GCM_SENDER_ID</key>
	<string>186017442025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopapp</string>
	<key>PROJECT_ID</key>
	<string>social-app-92ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-92ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186017442025:ios:ef74053aa736518467e878</string>
</dict>
</plist>